[Unit]
Description={{ settings.PROJECT_NAME|default:"Django" }} Instance %i (app2 override)
After=network.target

[Install]
WantedBy=multi-user.target
